.about {
  display: flex;
  padding: 10% 15%;
  position: relative;
}
.about .descripcion {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  text-align: start;
  justify-content: space-evenly;
}
.about .descripcion h1 {
  font-size: clamp(2rem, -2.75rem + 12vw, 4rem);
  color: #e2e3a4;
}
.about .descripcion h2 {
  color: rgba(255, 255, 255, 0.691);
  font-size: clamp(1rem, -2.75rem + 12vw, 3.5rem);
}
.about .descripcion p {
  color: white;
  font-size: clamp(0.75rem, 0.895vw + 0.176rem, 1.25rem);
}
.about .imagen {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about .imagen .foto {
  border-radius: 50%;
  width: 100%;
  max-width: 350px;
  height: auto;

  transition: 0.5s linear;
}
.about .imagen .foto:hover {
  transform: scale(1.02);
}

.redes img {
  width: 35px;
  height: 35px;
  margin: 10px;
  filter: drop-shadow(0px 0px 5px #ffffff);
  transition: 0.2s linear;
}
.redes img:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 768px) {
  .about {
    flex-direction: column;
  }
  .descripcion h1 {
    text-align: start;
  }
  .about .descripcion {
    width: 100%;
    align-items: start;
    justify-content: space-around;
    height: 15rem;
    padding: 0;
  }
  .imagen{
    width: 100% !important;
  }
 .foto{
  width: 65% !important;
 }
}
