header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
  
  
}
header nav {
  backdrop-filter: blur(50px);
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  padding: 1rem 2rem;
  border: 1px solid rgba(127, 127, 127, 0.228);
  
}
header nav a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  transition: 0.5s linear;
  font-size: 1.2rem;
}
header nav a:hover {
  color: lightgreen;
  border-bottom: 2px solid lightgreen;
}


.nav-list {
  display: flex;
  gap: 2rem;
}