.proyectos {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2.5% 15%;
  justify-content: center;
  width: 100%;
}

.proyectos h1 {
  color: #e2e3a4;
  font-size: clamp(2rem, -2.75rem + 12vw, 4rem);

  text-align: start;
}
.proyectos .container_p {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 50px;
  margin-top: 3rem;
}
.proyectos {
  padding: 8% 15%;
}
.proyectos .proyecto_cards {
  border: solid 2px gray;
  border-radius: 20px;
  padding: 15px 15px 0 15px ;
  width: 100%;
  height: max-content;
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: start;
  
}
.proyectos .container_p > :nth-last-child(1){
  grid-column: 2;
}
.lg{
  padding: 20px;
}


.proyecto_cards img {
  width: 100%;
  border-radius: 10px;
  
}


.proyecto_cards .lg img {
  width: 40px;
  transition: 0.3s linear;
}
.proyecto_cards .lg img:hover {
  filter: drop-shadow(0px 0px 4px #ffffff);
  transform: scale(1.2);
}
.git{
  position: absolute;
  right: 10px;
  bottom: 10px;
  
}
.git svg{
  transition: 0.3s linear;
}
.git svg:hover {
  transform: scale(1.1);
  filter: drop-shadow(0px 0px 5px #ffffff5c);
}

@media screen and (max-width: 768px) {
  .container_p {
    display: flex !important;
    flex-direction: column;
  }
  .lg{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}